{% extends 'layout/base.html' %}
{% block content %}
<h1 class="text-center text-uppercase">Danh sách chuyến bay</h1>
<!-- Form tìm kiếm -->
<form method="get" action="/danh_sach_ban_ve">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="san_bay_di">Sân bay đi:</label>
                <select class="form-control" id="san_bay_di" name="san_bay_di">
                    {% for san_bay in danh_sach_san_bay_di %}
                    <option value="{{ san_bay[0] }}" {% if san_bay[0]== san_bay_di_selected %}selected{% endif %}>{{
                        san_bay[0] + " - " + san_bay[1]}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="san_bay_den">Sân bay đến:</label>
                <select class="form-control" id="san_bay_den" name="san_bay_den">
                    {% for san_bay in danh_sach_san_bay_den %}
                    <option value="{{ san_bay[0] }}" {% if san_bay[0]== san_bay_den_selected %}selected{% endif %}>{{
                        san_bay[0] + " - " + san_bay[1] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="ngay_khoi_hanh">Ngày khởi hành:</label>
                <input type="date" class="form-control" id="ngay_khoi_hanh" name="ngay_khoi_hanh"
                       value="{{ ngay_khoi_hanh }}" required>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label></label>
                <button type="submit" class="btn btn-primary btn-block">Tìm kiếm</button>
            </div>
        </div>
    </div>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-info" role="alert">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}
<!-- Bảng hiển thị danh sách chuyến bay -->
<table class="table mt-3">
    <thead>
    <tr>
        <th>Chuyến bay</th>
        <th>Sân bay đi</th>
        <th>Sân bay đến</th>
        <th>Ngày khởi hành</th>
        <th>Hạng vé</th>
        <th>Giá</th>
        <th></th>
    </tr>
    </thead>
    <tbody>


    {% for chuyen_bay in chuyen_bay_list %}
    <tr>
        <td>{{ chuyen_bay[0] }}</td>
        <td>{{ chuyen_bay[1] }}</td>
        <td>{{ chuyen_bay[2] }}</td>
        <td>{{ chuyen_bay[3] }}</td>
        <td>{{ chuyen_bay[6] }}</td>
        <td>{{ chuyen_bay[4] }}</td>
        <td>
            <a href="{{ url_for('ban_ve_routes.ban_ve', ma_ve=chuyen_bay[5], ma_lich_chuyen_bay=chuyen_bay[7])}}"
               class="btn btn-primary">Bán vé</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}